Source: huayra-tda
Section: video
Priority: extra
Maintainer: Miguel Angel Garcia <miguel.garcia@gmail.com>
Build-Depends: debhelper (>= 8.0.0), dh-python
Standards-Version: 3.9.5
Homepage: http://github.com/HuayraLinux/huayra-tda
Vcs-Git: git://github.com/HuayraLinux/huayra-tda.git
Vcs-Browser: https://github.com/HuayraLinux/huayra-tda

Package: huayra-tda-player
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python, dvb-apps, python-wxgtk3.0, vlc, xdg-user-dirs, python-xdg
Provides: huayra-tda
Conflicts: huayra-tda
Replaces: huayra-tda
Description: Reproductor de televisión digital
 Sintoniza y reproduce canales de TDA.
