[Desktop Entry]
Version=1.0
Name=Huayra Televisión Digital Abierta
GenericName==Televisión Digital Abierta
Comment=Visualizar Televisión Digital Abierta
Exec=/usr/bin/huayra-tda-player
Icon=huayra-tda-icon
Terminal=false
Type=Application
Categories=AudioVideo;Player;Huayra
Keywords=Player;TDA;
